.sidebar_chat {
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    background: #fcf9f9;
    margin-bottom: 0px;
    /* font-size: 0.65em; */
  }
  .check_activo{
    color: #3ADF00;
    background-color: #3ADF00;
  }

  .input-assumpte:checked + label:after {
    background-color: #595959;
  }
  